

div {
    color: rgb(253, 253, 253);
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: rgb(232, 191, 12);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul.One, .Two {
  color: aquamarine;
}

p {
  color: rgb(255, 242, 0);
  
}

.Front {
  text-align: bottom;
}

